<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page not found</title>
  </head>
  <body>
    <div style="display: flex; flex-direction: column; align-items: center">
      <p style="font-size: 84px; margin: 0px;">404</p>
      <h1>Oops! Page not found</h1>
      <p>
        Sorry, the page you're looking for doesn't exist. If you think something
        is broken report a problem.
      </p>
      <button><a href="/" style="text-decoration: none;">Go to Homepage</a></button>
    </div>
  </body>
</html>
