<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home page</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navbar-items">
          <li><a href="/">Home</a></li>
          <li><a href="/genre">Genres</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/login">Subscribe</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-section">
      <p>
        You may contact us using the information below:<br /><br />

        <b>Merchant Legal entity name:</b> BooksFlix Private Limited<br /><br />

        <b>Registered Address:</b> 633, 19th Main Road,24th Cross, Bengaluru - 560070<br /><br />

        <b>Operational Address:</b> 633, 19th Main Road,24th Cross, Bengaluru - 560070<br /><br />

        <b>Telephone-No:</b> 080-40511711<br /><br />

        <b>E-Mail:</b> customercare@justbooksclc.com<br /><br />
      </p>
    </main>
  </body>
</html>
