<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>BooksFLix</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-items">
                <li><a href="/">Home</a></li>
                <li><a href="/genre">Genres</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Subscribe</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-section">
        <img src="images/book-1.jpg" alt="book image" style="width: 200px; height: 200px;">
        <p>BooksFlix is an online books and magazine rental service. We have over 10 lakh books and 2 lakh happy customers. With just 3 easy steps you can become a member and start reading.</p>
    </main>
</body>
</html>