<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home page</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navbar-items">
          <li><a href="/">Home</a></li>
          <li><a href="/genre">Genres</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/login">Subscribe</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-section">
      <form action="/welcome" method="post" class="form">
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" />
          <button type="submit" class="submit-button">Subscribe</button>
        </div>
      </form>
    </main>
  </body>
</html>
