body{
    font-family: Arial, Helvetica, sans-serif;
    color: #081c15;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: #d8f3dc;
    width: 460px;
  }
  
  .navbar-items {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    list-style-type: none;
  }
  
  .navbar-items li a:link {
    padding: 0px 15px;
    text-decoration: none;
    font-weight: 700;
  }

  .navbar-items li a:visited {
    text-decoration: none;
    color: #081c15;
}

.main-section{
  margin: 20px;
  padding: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #F1fbf1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label{
  font-size: 18px;
  font-weight: 500;
}

input[type=text] {
  color: #081c15;
  border: 0px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid #081c15;
  border-radius: 5px;
}


.submit-button{
  width: 100%;
  cursor: pointer;
  color: #081c15;
  display: block;
  margin: 20px 0px 0px 0px;
  padding: 10px;
  background-color: #d8f3dc;
  font-size: 18px;
  font-weight: 500;
  border: 0px;
  border-radius: 5px;
}

.submit-button:hover{
  background-color: #b7e4c7;
}